# APP SETTINGS
APP_NAME="Automation Agent"
ENV=development
PORT=3000


# DATABASE SETTINGS
DATABASE_URL="postgresql+asyncpg://user:password@host:port/dbname"

# SECURITY SETTINGS
JWT_SECRET_KEY=""
JWT_ALGORITHM="HS256"
JWT_EXPIRES_IN_MINUTES=60
